body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #05057a;
    background-repeat: no-repeat;
    background-size: cover;
}
.box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    background: #fff;
    padding: 40px;
    box-sizing: border-box;
    border:  1px solid rgba(0,0,0,.1);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}  
.box div input{
    width: 100%;
    padding: 10px 0;
    border: none;
    outline: none;
    margin-bottom: 20px;
    box-sizing: border-box;
    border-bottom: 2px solid #999;
} 
.box h2{
    margin: 0 0 40px;
    padding: 0;
    color: #3737f6;
    text-transform: uppercase;
    text-align: center;
}    
.box form div{
    position: relative;
}
.box form div label{
    position: absolute;
    top: 10px;
    left: 0;
    transition: .5s;
    pointer-events: none;
    color: #999;
}
.box input:focus ~ label,
.box  input:valid ~ label{
    top: -12px;
    font-size: 15px;
    color: #3737f6;
    font-weight: bold;
}
.box  input:focus,
.box  input:valid{
    border-bottom: 2px solid #3737f6;
}
.box select{
    padding: 10px;
    width: 100%;
    height: 50px;
    font-size: 16px;
    margin-bottom: 10px;
    border: none;
    outline: none;
}
.box div input[type="button"]{
    border-bottom: none;
    cursor: pointer;
    background: #3737f6;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 0;
}

.box div p{
    text-align: center;
    color: #999;
    font-weight: 700;
    pointer-events: none;
    margin: 0;
}
#res {
    text-align: center;
    color: rgb(97, 97, 97);
    font-weight: 700;
    pointer-events: none;
    margin: 10px;
    padding: 0;
}
